<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Testing</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if error != "" %}
    <script>
        var message = '{{ error }}';
        alert(message)
    </script>
    {% endif %}

    {% if message %}
    <script>
        var message = '{{ message }}';
        alert(message)
    </script>
    {% endif %}
    <a class="navbar-brand" href="{{base_url}}/">Zinope - Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {%if authUser %}
            <li class="nav-item">
                <a class="nav-link" href="{{base_url}}/users/search">Search Users</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{base_url}}/users">Register</a>
            </li>
            {% endif %}
        </ul>
        {%if authUser %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{base_url}}/auth/logout">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{base_url}}/auth">Login</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>
    {% block content %}{% endblock %}
</body>
</html>