{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h3>Login</h3>
    <form action="{{ base_url }}/auth" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" required class="form-control" id="email" name="email" placeholder="Fill Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" required class="form-control" id="password" name="password" placeholder="Fill Password">
        </div>

        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}