{% extends "layout.html" %}

{% block content %}

<div class="container">
<form action=" {{ base_url }}/users " method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Fill Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Fill Email">
    </div>
    <div class="form-group">
        <label for="country_id">Country</label>
        <select class="form-control" name="country_id" id="country_id">
            <option value="0">Select Country</option>
            {% for country in countries %}
            <option value="{{country.id}}">{{country.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Fill Password">
    </div>
    <div class="form-group">
        <label for="password_confirm">Password Confirmation</label>
        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Repeat Password">
    </div>

    <button type="submit" class="btn btn-success">Sign Up</button>
</form>
</div>
{% endblock %}