{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form action=" {{ base_url }}/users/search" method="get">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="Search">
        </div>

        <button type="submit" class="btn btn-success">Search</button>
    </form>

    <br>
    <br>
    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.country.name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}